---
import Header from "@/components/Header/index.svelte";
import { getMenuBySlug } from "@/pages/api/core/menus";
import Logo from "@/images/logo.svg";
const { classNames } = Astro.props;

// This should be brought in via CMS Config Settings
let args = {
  slug: "primary",
  logo: Logo,
  action: {
    label: "Get Started",
    url: "/get-started",
  },
  title: "WP Astro",
};

// Fetch Primary Menu by Slug
let config = await getMenuBySlug(args);
---

<body>
  <Header menu={config} args={args} />
  <main class={classNames} transition:animate="initial">
    <slot />
  </main>
</body>
@/pages/api/core/menus