.elementor-10426 .elementor-element.elementor-element-de76ec6{--min-height:124px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:flex-start;--align-items:center;--gap:0px;--background-transition:0.3s;--padding-top:0px;--padding-right:64px;--padding-bottom:0px;--padding-left:64px;--position:absolute;top:0px;--z-index:9999;}body:not(.rtl) .elementor-10426 .elementor-element.elementor-element-de76ec6{left:0px;}body.rtl .elementor-10426 .elementor-element.elementor-element-de76ec6{right:0px;}.elementor-10426 .elementor-element.elementor-element-1dd681c{--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:space-between;--align-items:center;--flex-wrap:nowrap;--background-transition:0.3s;}.elementor-10426 .elementor-element.elementor-element-af91f87 .elementor-icon-wrapper{text-align:center;}.elementor-10426 .elementor-element.elementor-element-af91f87.elementor-view-stacked .elementor-icon{background-color:#000000;}.elementor-10426 .elementor-element.elementor-element-af91f87.elementor-view-framed .elementor-icon, .elementor-10426 .elementor-element.elementor-element-af91f87.elementor-view-default .elementor-icon{color:#000000;border-color:#000000;}.elementor-10426 .elementor-element.elementor-element-af91f87.elementor-view-framed .elementor-icon, .elementor-10426 .elementor-element.elementor-element-af91f87.elementor-view-default .elementor-icon svg{fill:#000000;}.elementor-10426 .elementor-element.elementor-element-af91f87 .elementor-icon{font-size:131px;}.elementor-10426 .elementor-element.elementor-element-af91f87 > .elementor-widget-container{margin:0px 0px -10px 0px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-menu-toggle{margin-left:auto;background-color:var( --e-global-color-99d809d );}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu .elementor-item{font-family:"Archivo", Sans-serif;font-size:16px;font-weight:bold;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-primary );fill:var( --e-global-color-primary );padding-left:0px;padding-right:0px;padding-top:16px;padding-bottom:16px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--main .elementor-item:hover,
					.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--main .elementor-item:focus{color:var( --e-global-color-61948c5 );fill:var( --e-global-color-61948c5 );}.elementor-10426 .elementor-element.elementor-element-7cbf90c{--e-nav-menu-horizontal-menu-item-margin:calc( 48px / 2 );}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:48px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown a, .elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-menu-toggle{color:var( --e-global-color-primary );}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown{background-color:var( --e-global-color-99d809d );border-radius:10px 10px 10px 10px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown a:hover,
					.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown a.highlighted,
					.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-menu-toggle:hover{color:var( --e-global-color-61948c5 );}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown a:hover,
					.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown a.elementor-item-active,
					.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown a.highlighted{background-color:#02010100;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown a.elementor-item-active{background-color:#02010100;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown .elementor-item, .elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown  .elementor-sub-item{font-family:"Archivo", Sans-serif;font-size:16px;font-weight:500;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown li:first-child a{border-top-left-radius:10px;border-top-right-radius:10px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown li:last-child a{border-bottom-right-radius:10px;border-bottom-left-radius:10px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--main .elementor-nav-menu--dropdown, .elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu__container.elementor-nav-menu--dropdown{box-shadow:0px 8px 100px -8px rgba(0, 0, 0, 0.1);}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown a{padding-left:0px;padding-right:0px;padding-top:8px;padding-bottom:8px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown li:not(:last-child){border-style:solid;border-color:#E3E1E280;border-bottom-width:0px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:34px !important;}.elementor-10426 .elementor-element.elementor-element-7cbf90c > .elementor-widget-container{margin:0px 0px 0px 37px;padding:0px 0px 0px 10px;border-style:solid;border-width:0px 0px 0px 01px;border-color:#54545B33;}.elementor-10426 .elementor-element.elementor-element-758616d .elementor-button{font-family:"Archivo", Sans-serif;font-size:16px;font-weight:bold;fill:var( --e-global-color-primary );color:var( --e-global-color-primary );background-color:#FB424700;padding:0px 0px 0px 0px;}.elementor-10426 .elementor-element.elementor-element-758616d .elementor-button:hover, .elementor-10426 .elementor-element.elementor-element-758616d .elementor-button:focus{color:var( --e-global-color-accent );}.elementor-10426 .elementor-element.elementor-element-758616d .elementor-button:hover svg, .elementor-10426 .elementor-element.elementor-element-758616d .elementor-button:focus svg{fill:var( --e-global-color-accent );}.elementor-10426 .elementor-element.elementor-element-758616d > .elementor-widget-container{margin:0px 32px 0px 0px;}.elementor-10426 .elementor-element.elementor-element-758616d.elementor-element{--flex-grow:1;--flex-shrink:0;}.elementor-10426 .elementor-element.elementor-element-74a3626 .elementor-button{font-family:"Archivo", Sans-serif;font-size:18px;font-weight:bold;line-height:22px;padding:13px 26px 13px 26px;}.elementor-10426 .elementor-element.elementor-element-7b6c4ec .elementor-icon-wrapper{text-align:center;}.elementor-10426 .elementor-element.elementor-element-7b6c4ec.elementor-view-stacked .elementor-icon{background-color:#FFFFFF;color:#FFFFFF;}.elementor-10426 .elementor-element.elementor-element-7b6c4ec.elementor-view-framed .elementor-icon, .elementor-10426 .elementor-element.elementor-element-7b6c4ec.elementor-view-default .elementor-icon{color:#FFFFFF;border-color:#FFFFFF;}.elementor-10426 .elementor-element.elementor-element-7b6c4ec.elementor-view-framed .elementor-icon, .elementor-10426 .elementor-element.elementor-element-7b6c4ec.elementor-view-default .elementor-icon svg{fill:#FFFFFF;}.elementor-10426 .elementor-element.elementor-element-7b6c4ec.elementor-view-framed .elementor-icon{background-color:#FFFFFF;}.elementor-10426 .elementor-element.elementor-element-7b6c4ec.elementor-view-stacked .elementor-icon svg{fill:#FFFFFF;}.elementor-10426 .elementor-element.elementor-element-7b6c4ec .elementor-icon{font-size:40px;padding:0px;border-radius:8px 8px 8px 8px;}@media(min-width:768px){.elementor-10426 .elementor-element.elementor-element-de76ec6{--width:100%;}}@media(max-width:1024px) and (min-width:768px){.elementor-10426 .elementor-element.elementor-element-1dd681c{--content-width:100%;}}@media(max-width:1024px){.elementor-10426 .elementor-element.elementor-element-de76ec6{--padding-top:0px;--padding-right:40px;--padding-bottom:0px;--padding-left:40px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c{--e-nav-menu-horizontal-menu-item-margin:calc( 20px / 2 );}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:20px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown .elementor-item, .elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:16px;}.elementor-10426 .elementor-element.elementor-element-758616d .elementor-button{font-size:16px;}.elementor-10426 .elementor-element.elementor-element-74a3626 .elementor-button{font-size:16px;}}@media(max-width:767px){.elementor-10426 .elementor-element.elementor-element-de76ec6{--min-height:96px;--justify-content:space-between;--padding-top:0px;--padding-right:24px;--padding-bottom:0px;--padding-left:24px;}.elementor-10426 .elementor-element.elementor-element-af91f87{z-index:9999;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown .elementor-item, .elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown  .elementor-sub-item{font-size:14px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--dropdown a{padding-left:16px;padding-right:16px;padding-top:14px;padding-bottom:14px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu--main > .elementor-nav-menu > li > .elementor-nav-menu--dropdown, .elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-nav-menu__container.elementor-nav-menu--dropdown{margin-top:0px !important;}.elementor-10426 .elementor-element.elementor-element-7cbf90c{--nav-menu-icon-size:42px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c .elementor-menu-toggle{border-radius:8px;}.elementor-10426 .elementor-element.elementor-element-7cbf90c.elementor-element{--flex-grow:0;--flex-shrink:0;}.elementor-10426 .elementor-element.elementor-element-758616d .elementor-button{font-size:14px;}.elementor-10426 .elementor-element.elementor-element-74a3626 .elementor-button{font-size:14px;}.elementor-10426 .elementor-element.elementor-element-7b6c4ec > .elementor-widget-container{margin:0px 0px -8px 0px;}}/* Start custom CSS *//* || Header Styles */

.main-header {
    width: 100% !important
}

.main-header.elementor-sticky--effects {
    background: #fff;
    box-shadow: 0 0 10px #f3f3f3;
    transition: all .3s ease-in-out;
    min-height: 84px
}

.logo-main svg {
    height: auto
}

.elementor-10426 .nav-main a.has-submenu:after {
    content: "";
    display: inline-block;
    width: 6px;
    height: 6px;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    border-left: 0 solid;
    border-bottom: .1em solid;
    border-right: .1em solid;
    border-top: 0 solid;
    opacity: 1 !important;
    background-color: #0000 !important;
    position: static;
    margin-left: 12px;
    transition: .1s !important;
}

.elementor-10426 .nav-main .elementor-nav-menu>li ul,
.elementor-10426 .nav-main .elementor-nav-menu>li:not(:first-child)>ul {
    padding: 22px 40px;
    left: -20px !important;
}

.elementor-10426 .nav-main  .elementor-nav-menu>li:first-child>a {
    margin-inline-start: 24px;
}

.elementor-10426 .nav-main .elementor-nav-menu ul:before {
    position: absolute;
    top: -8px;
    content: " ";
    width: 16px;
    height: 16px;
    background-color: #fff;
    transform: rotate(45deg);
}

.elementor-10426 .nav-main .elementor-nav-menu ul a {
    border-left: none;
}

.elementor-10426 .elementor-nav-menu--dropdown .elementor-item:focus {
    background: #0000
}

@media (max-width: 767px) {
  .main-header.elementor-sticky--effects {
    min-height: 69px
}
  
} 


/* || Header Styles - Dark */


body.home .main-header.elementor-sticky--effects {
    background: #2f3a5f;
    box-shadow: none;
}

body.home .logo-main svg {
    color: #fff;
}

@media (min-width: 768px) {

body.home .nav-main .elementor-item:not(:hover), 
body.home .nav-login a:not(:hover) {
    color: #fff !important;
    fill: #fff !important
}
}


/* Responsive Layout Fix */


@media (max-width: 876px) {
    .elementor-10426 .nav-main, 
    .elementor-10426 .nav-login,
    .elementor-10426 .nav-cta {
        display: none;
    }
    .elementor-10426 .nav-mobile {
        display: block !important;
    }
}/* End custom CSS */