.elementor-11420 .elementor-element.elementor-element-7bc88742{--min-height:662px;--justify-content:center;--background-transition:0.3s;}.elementor-11420 .elementor-element.elementor-element-7bc88742:not(.elementor-motion-effects-element-type-background), .elementor-11420 .elementor-element.elementor-element-7bc88742 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#FFFFFF;background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2022/07/testimonialsBackground.svg");background-repeat:no-repeat;background-size:cover;}.elementor-11420 .elementor-element.elementor-element-7bc88742, .elementor-11420 .elementor-element.elementor-element-7bc88742::before{--border-transition:0.3s;}.elementor-11420 .elementor-element.elementor-element-6460e1b3{--background-transition:0.3s;}.elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-arrows-yes .elementor-main-swiper{width:calc( 100% - 40px );}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-main-swiper{width:100%;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-main-swiper .swiper-slide{padding:0px 60px 0px 320px;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-testimonial__text{color:var( --e-global-color-primary );font-family:"Archivo", Sans-serif;font-size:24px;font-weight:400;text-transform:none;font-style:normal;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-testimonial__name{color:var( --e-global-color-primary );font-family:"Archivo", Sans-serif;font-size:18px;font-weight:600;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-testimonial__title{color:var( --e-global-color-accent );font-family:"Archivo", Sans-serif;font-size:16px;font-weight:400;font-style:normal;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-testimonial__image img{width:64px;height:64px;}.elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_left .elementor-testimonial__content:after,
					 .elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_right .elementor-testimonial__content:after{top:calc( 20px + (64px / 2) - 8px );}body:not(.rtl) .elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_stacked:not(.elementor-testimonial--align-center):not(.elementor-testimonial--align-right) .elementor-testimonial__content:after,
					 body:not(.rtl) .elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_inline:not(.elementor-testimonial--align-center):not(.elementor-testimonial--align-right) .elementor-testimonial__content:after,
					 .elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_stacked.elementor-testimonial--align-left .elementor-testimonial__content:after,
					 .elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_inline.elementor-testimonial--align-left .elementor-testimonial__content:after{left:calc( 20px + (64px / 2) - 8px );right:auto;}body.rtl .elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_stacked:not(.elementor-testimonial--align-center):not(.elementor-testimonial--align-left) .elementor-testimonial__content:after,
					 body.rtl .elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_inline:not(.elementor-testimonial--align-center):not(.elementor-testimonial--align-left) .elementor-testimonial__content:after,
					 .elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_stacked.elementor-testimonial--align-right .elementor-testimonial__content:after,
					 .elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_inline.elementor-testimonial--align-right .elementor-testimonial__content:after{right:calc( 20px + (64px / 2) - 8px );left:auto;}body:not(.rtl) .elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_above:not(.elementor-testimonial--align-center):not(.elementor-testimonial--align-right) .elementor-testimonial__content:after,
					 .elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_above.elementor-testimonial--align-left .elementor-testimonial__content:after{left:calc( 20px + (64px / 2) - 8px );right:auto;}body.rtl .elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_above:not(.elementor-testimonial--align-center):not(.elementor-testimonial--align-left) .elementor-testimonial__content:after,
					 .elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-testimonial--layout-image_above.elementor-testimonial--align-right .elementor-testimonial__content:after{right:calc( 20px + (64px / 2) - 8px );left:auto;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-swiper-button{font-size:22px;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .swiper-pagination-bullet{height:12px;width:12px;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .swiper-container-horizontal .swiper-pagination-progressbar{height:12px;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .swiper-pagination-fraction{font-size:12px;color:var( --e-global-color-accent );}.elementor-11420 .elementor-element.elementor-element-4cdaadff .swiper-pagination-bullet-active, .elementor-11420 .elementor-element.elementor-element-4cdaadff .swiper-pagination-progressbar-fill{background-color:var( --e-global-color-accent );}@media(max-width:1024px){.elementor-11420 .elementor-element.elementor-element-7bc88742:not(.elementor-motion-effects-element-type-background), .elementor-11420 .elementor-element.elementor-element-7bc88742 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center left;}.elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-arrows-yes .elementor-main-swiper{width:calc( 100% - 40px );}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-main-swiper{width:100%;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-testimonial__text{font-size:20px;}}@media(max-width:767px){.elementor-11420 .elementor-element.elementor-element-7bc88742{--min-height:490px;--padding-top:50px;--padding-right:0px;--padding-bottom:40px;--padding-left:0px;}.elementor-11420 .elementor-element.elementor-element-7bc88742:not(.elementor-motion-effects-element-type-background), .elementor-11420 .elementor-element.elementor-element-7bc88742 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:bottom left;}.elementor-11420 .elementor-element.elementor-element-4cdaadff.elementor-arrows-yes .elementor-main-swiper{width:calc( 100% - 40px );}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-main-swiper{width:100%;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-testimonial__text{font-size:16px;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-testimonial__name{font-size:16px;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-testimonial__title{font-size:14px;}.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-testimonial__image img{width:44px;height:44px;}.elementor-11420 .elementor-element.elementor-element-4cdaadff > .elementor-widget-container{margin:0px -6px 0px -6px;}}/* Start custom CSS for testimonial-carousel, class: .elementor-element-4cdaadff */.elementor-11420 .elementor-element.elementor-element-4cdaadff .testimonial-logo {
    position: absolute;
    border-radius: 24px;
    padding: 16px;
    width: 183px;

    left: 48px;
     background-color: #FFF;
     border: 20px solid #F4F4F6 ;
}

.elementor-11420 .elementor-element.elementor-element-4cdaadff .swiper-pagination-bullet:not(.swiper-pagination-bullet-active) {
    background: transparent;
    border: 1px solid #7D7D85;
    opacity: 0.5
}

.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-swiper-button svg {
    display: none;
}


.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-swiper-button:before {
    content: '';
    display: block;
    width: 36px;
    height: 36px;
background-image: url("data:image/svg+xml,%3Csvg width='36' height='36' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M18 0c9.9435 0 18 8.05645 18 18 0 9.9435-8.0565 18-18 18-9.94355 0-18-8.0565-18-18C0 8.05645 8.05645 0 18 0Zm8.2669 16.7661-9.8346-9.83465c-.6823-.68226-1.7855-.68226-2.4605 0l-1.2339 1.23387c-.6823.68226-.6823 1.78549 0 2.46048L20.1121 18l-7.3742 7.3742c-.6823.6823-.6823 1.7855 0 2.4605l1.2339 1.2338c.6822.6823 1.7855.6823 2.4605 0l9.8346-9.8346c.6823-.6823.6823-1.7855 0-2.4678Z' fill='%23000'/%3E%3C/svg%3E");
background-size: contain;
background-repeat: no-repeat;
opacity: 0.5;
}

.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-swiper-button-prev:before {
    transform: rotate(180deg)
}

.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-swiper-button:hover:before {
    opacity: 1;
}

@media (max-width: 1024px) {
.elementor-11420 .elementor-element.elementor-element-4cdaadff .testimonial-logo {
    left: 20px; ;
}
.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-main-swiper .swiper-slide {
    padding: 0px 40px 0px 240px !important;
}
}

@media (max-width: 767px) {
.elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-main-swiper .swiper-slide {
    padding: 0px !important;
}
.elementor-11420 .elementor-element.elementor-element-4cdaadff .testimonial-logo {
    position: static;
    display: block;
    margin: 0 auto 16px;
    max-width: 122px;
    border-radius: 12px;
    padding: 8px;
    border: 4px solid #F4F4F6 ;
 }   
 .elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-swiper-button {
     top: auto;
     bottom: 3px;
 }
 .elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-swiper-button:before {
     width: 16px;
     height: 16px;
 }
 .elementor-11420 .elementor-element.elementor-element-4cdaadff .elementor-main-swiper {
     display: flex;
    justify-content: center;
 }
 .elementor-11420 .elementor-element.elementor-element-4cdaadff .swiper-pagination-bullets {
     width: auto;
     left: auto;
 }
}/* End custom CSS */