.elementor-8860 .elementor-element.elementor-element-8bef7bc{--min-height:414px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--align-items:stretch;--overflow:hidden;--background-transition:0.3s;}.elementor-8860 .elementor-element.elementor-element-8bef7bc:not(.elementor-motion-effects-element-type-background), .elementor-8860 .elementor-element.elementor-element-8bef7bc > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#202742;background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2022/08/customBg-2.svg");background-position:top center;background-repeat:no-repeat;background-size:cover;}.elementor-8860 .elementor-element.elementor-element-8bef7bc, .elementor-8860 .elementor-element.elementor-element-8bef7bc::before{--border-transition:0.3s;}.elementor-8860 .elementor-element.elementor-element-f01491f{--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:space-between;--align-items:flex-start;--flex-wrap:wrap;--background-transition:0.3s;--margin-top:200px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:64px;--padding-left:0px;}.elementor-8860 .elementor-element.elementor-element-5d87944 .elementor-heading-title{color:var( --e-global-color-99d809d );font-size:var( --e-global-typography-c8fd713-font-size );line-height:var( --e-global-typography-c8fd713-line-height );letter-spacing:var( --e-global-typography-c8fd713-letter-spacing );word-spacing:var( --e-global-typography-c8fd713-word-spacing );}.elementor-8860 .elementor-element.elementor-element-5d87944 > .elementor-widget-container{margin:8px 0px 8px 0px;padding:0% 48% 0% 0%;}.elementor-8860 .elementor-element.elementor-element-ec72d48 img{width:430px;}.elementor-8860 .elementor-element.elementor-element-ec72d48{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;bottom:-30px;z-index:1;}body:not(.rtl) .elementor-8860 .elementor-element.elementor-element-ec72d48{right:20px;}body.rtl .elementor-8860 .elementor-element.elementor-element-ec72d48{left:20px;}.elementor-8860 .elementor-element.elementor-element-0e63e3c{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-8860 .elementor-element.elementor-element-0e63e3c:not(.elementor-motion-effects-element-type-background), .elementor-8860 .elementor-element.elementor-element-0e63e3c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2021/06/landingPageBg.png");background-position:120% 100px;background-repeat:no-repeat;}.elementor-8860 .elementor-element.elementor-element-0e63e3c, .elementor-8860 .elementor-element.elementor-element-0e63e3c::before{--border-transition:0.3s;}.elementor-8860 .elementor-element.elementor-element-fcd3d9e{--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:flex-start;--flex-wrap:wrap;--background-transition:0.3s;}.elementor-8860 .elementor-element.elementor-element-3434d58{--background-transition:0.3s;--margin-top:60px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:30px;--padding-bottom:0px;--padding-left:0px;}.elementor-8860 .elementor-element.elementor-element-1c9c59a{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-8860 .elementor-element.elementor-element-e69d699:not(.elementor-motion-effects-element-type-background), .elementor-8860 .elementor-element.elementor-element-e69d699 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-99d809d );}.elementor-8860 .elementor-element.elementor-element-e69d699{--background-transition:0.3s;--border-radius:10px 10px 10px 10px;box-shadow:1px 0px 40px 0px rgba(0, 0, 0, 0.1);--margin-top:-100px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:40px;--padding-right:60px;--padding-bottom:40px;--padding-left:60px;--z-index:2;}.elementor-8860 .elementor-element.elementor-element-e69d699, .elementor-8860 .elementor-element.elementor-element-e69d699::before{--border-transition:0.3s;}.elementor-8860 .elementor-element.elementor-element-7b2e230{text-align:center;}.elementor-8860 .elementor-element.elementor-element-7b2e230 .elementor-heading-title{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-8860 .elementor-element.elementor-element-19cd3e2{--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;--padding-top:60px;--padding-right:0px;--padding-bottom:110px;--padding-left:0px;}.elementor-8860 .elementor-element.elementor-element-4d8c1fd5{--min-height:416px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--background-transition:0.3s;--border-radius:24px 24px 24px 24px;}.elementor-8860 .elementor-element.elementor-element-4d8c1fd5:not(.elementor-motion-effects-element-type-background), .elementor-8860 .elementor-element.elementor-element-4d8c1fd5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-db5fbe7 );background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2022/08/moreInfoBackground-1-1.png");background-repeat:no-repeat;background-size:cover;}.elementor-8860 .elementor-element.elementor-element-4d8c1fd5, .elementor-8860 .elementor-element.elementor-element-4d8c1fd5::before{--border-transition:0.3s;}.elementor-8860 .elementor-element.elementor-element-e3ee6e9{text-align:center;width:var( --container-widget-width, 900px );max-width:900px;--container-widget-width:900px;--container-widget-flex-grow:0;}.elementor-8860 .elementor-element.elementor-element-e3ee6e9 .elementor-heading-title{color:var( --e-global-color-99d809d );}.elementor-8860 .elementor-element.elementor-element-7cd811ac > .elementor-widget-container{margin:32px 0px 0px 0px;}@media(min-width:768px){.elementor-8860 .elementor-element.elementor-element-8bef7bc{--width:100%;}.elementor-8860 .elementor-element.elementor-element-f01491f{--width:1200px;}.elementor-8860 .elementor-element.elementor-element-fcd3d9e{--content-width:1200px;}.elementor-8860 .elementor-element.elementor-element-3434d58{--width:50%;}.elementor-8860 .elementor-element.elementor-element-e69d699{--width:50%;}.elementor-8860 .elementor-element.elementor-element-19cd3e2{--width:100%;}.elementor-8860 .elementor-element.elementor-element-4d8c1fd5{--width:1200px;}}@media(max-width:1024px) and (min-width:768px){.elementor-8860 .elementor-element.elementor-element-4d8c1fd5{--width:100%;}}@media(max-width:1024px){.elementor-8860 .elementor-element.elementor-element-5d87944 .elementor-heading-title{font-size:var( --e-global-typography-c8fd713-font-size );line-height:var( --e-global-typography-c8fd713-line-height );letter-spacing:var( --e-global-typography-c8fd713-letter-spacing );word-spacing:var( --e-global-typography-c8fd713-word-spacing );}.elementor-8860 .elementor-element.elementor-element-ec72d48 img{width:320px;}body:not(.rtl) .elementor-8860 .elementor-element.elementor-element-ec72d48{right:0px;}body.rtl .elementor-8860 .elementor-element.elementor-element-ec72d48{left:0px;}.elementor-8860 .elementor-element.elementor-element-ec72d48{bottom:0px;}.elementor-8860 .elementor-element.elementor-element-0e63e3c:not(.elementor-motion-effects-element-type-background), .elementor-8860 .elementor-element.elementor-element-0e63e3c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0% 0px;}.elementor-8860 .elementor-element.elementor-element-e69d699{--padding-top:32px;--padding-right:48px;--padding-bottom:32px;--padding-left:48px;}.elementor-8860 .elementor-element.elementor-element-7b2e230 .elementor-heading-title{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-8860 .elementor-element.elementor-element-e3ee6e9{width:var( --container-widget-width, 600px );max-width:600px;--container-widget-width:600px;--container-widget-flex-grow:0;}}@media(max-width:767px){.elementor-8860 .elementor-element.elementor-element-8bef7bc{--min-height:420px;}.elementor-8860 .elementor-element.elementor-element-8bef7bc:not(.elementor-motion-effects-element-type-background), .elementor-8860 .elementor-element.elementor-element-8bef7bc > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2021/06/customBgMobile.svg");background-size:cover;}.elementor-8860 .elementor-element.elementor-element-f01491f{--align-items:flex-end;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--margin-top:120px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:120px;--padding-left:0px;}.elementor-8860 .elementor-element.elementor-element-5d87944 .elementor-heading-title{font-size:var( --e-global-typography-c8fd713-font-size );line-height:var( --e-global-typography-c8fd713-line-height );letter-spacing:var( --e-global-typography-c8fd713-letter-spacing );word-spacing:var( --e-global-typography-c8fd713-word-spacing );}.elementor-8860 .elementor-element.elementor-element-5d87944 > .elementor-widget-container{padding:0% 0% 0% 0%;}.elementor-8860 .elementor-element.elementor-element-5d87944{width:100%;max-width:100%;z-index:2;}.elementor-8860 .elementor-element.elementor-element-ec72d48{text-align:right;width:100%;max-width:100%;}.elementor-8860 .elementor-element.elementor-element-0e63e3c:not(.elementor-motion-effects-element-type-background), .elementor-8860 .elementor-element.elementor-element-0e63e3c > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:center left;}.elementor-8860 .elementor-element.elementor-element-3434d58{--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-8860 .elementor-element.elementor-element-3434d58.e-con{--order:2;}.elementor-8860 .elementor-element.elementor-element-1c9c59a{width:100%;max-width:100%;}.elementor-8860 .elementor-element.elementor-element-e69d699{--padding-top:20px;--padding-right:20px;--padding-bottom:20px;--padding-left:20px;}.elementor-8860 .elementor-element.elementor-element-e69d699.e-con{--order:1;}.elementor-8860 .elementor-element.elementor-element-7b2e230 .elementor-heading-title{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-8860 .elementor-element.elementor-element-19cd3e2{--padding-top:48px;--padding-right:0px;--padding-bottom:64px;--padding-left:0px;}.elementor-8860 .elementor-element.elementor-element-4d8c1fd5{--width:100%;--min-height:390px;--border-radius:12px 12px 12px 12px;}.elementor-8860 .elementor-element.elementor-element-4d8c1fd5:not(.elementor-motion-effects-element-type-background), .elementor-8860 .elementor-element.elementor-element-4d8c1fd5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2022/08/moreInfoBackgroundM-1.png");}.elementor-8860 .elementor-element.elementor-element-e3ee6e9{width:var( --container-widget-width, 302px );max-width:302px;--container-widget-width:302px;--container-widget-flex-grow:0;}}/* Start custom CSS for image, class: .elementor-element-ec72d48 */@media (max-width: 767px) {
.elementor-8860 .elementor-element.elementor-element-ec72d48 {
    opacity: 0.2
}
}/* End custom CSS */
/* Start custom CSS for text-editor, class: .elementor-element-1c9c59a */.elementor-8860 .elementor-element.elementor-element-1c9c59a ul {
    display: block;
    padding-left: 26px;
    list-style: none;
    margin-bottom: 20px;
    margin-left: 20px;
    text-indent: -32px;
}

.elementor-8860 .elementor-element.elementor-element-1c9c59a li::before {
    display: inline-block;
    content: " ";
    width: 20px;
    height: 15px;
    margin-right: 12px;
    background: url(../../2020/12/check.svg);
    background-repeat: no-repeat;
    background-position: center;
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-5c25498 */.elementor-8860 .elementor-element.elementor-element-5c25498 label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    text-align: left;
}

.elementor-8860 .elementor-element.elementor-element-5c25498 input {
    font-family: 'Archivo', sans-serif;
    -webkit-appearance: none;
    margin-bottom: 16px;
    background: #fff;
    padding: 16px 24px;
    border: 1px solid #DBD6D8;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    width: 100% !important;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.elementor-8860 .elementor-element.elementor-element-5c25498 input[type=submit] {
    padding: 17px 44px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    cursor: pointer;
    min-width: 30px;
    white-space: nowrap;
    background-color: #FB4247;
    color: #fff;
}

.elementor-8860 .elementor-element.elementor-element-5c25498 input[type=submit]:hover {
    background-color: #fa292f;
}

.elementor-8860 .elementor-element.elementor-element-5c25498 textarea {
    font-family: 'Archivo', sans-serif;
    -webkit-appearance: none;
    margin-bottom: 16px;
    background: #fff;
    padding: 16px 24px;
    border: 1px solid #DBD6D8;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    width: 100% !important;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.elementor-8860 .elementor-element.elementor-element-5c25498 select {
    font-family: 'Archivo', sans-serif;
    margin-bottom: 16px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.562.931l2.75 3 2.75-3' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right 24px;
    background-size: 10px;
    padding: 16px 24px;
    border: 1px solid #DBD6D8;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    width: 100% !important;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01em;
    cursor: pointer;
}


@media (max-width: 768px) {
.elementor-8860 .elementor-element.elementor-element-5c25498 input {
    min-width: 100px;
    padding: 12px 20px;
    font-size: 14px;
    margin-bottom: 10px;
}
.elementor-8860 .elementor-element.elementor-element-5c25498 textarea {
    min-width: 100px;
    padding: 12px 20px;
    font-size: 14px;
    margin-bottom: 10px;
}
.elementor-8860 .elementor-element.elementor-element-5c25498 select {
     padding: 12px 20px;
    font-size: 14px;  
    margin-bottom: 10px;
}
.elementor-8860 .elementor-element.elementor-element-5c25498 input[type=submit] {
    padding: 13px 30px;
    font-size: 14px;
}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-0e63e3c */@media (max-width: 768px) {
    .elementor-8860 .elementor-element.elementor-element-0e63e3c {
        background-image: none !important;
    }
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-4d8c1fd5 */.elementor-8860 .elementor-element.elementor-element-4d8c1fd5 {
    max-width: 100%;
}/* End custom CSS */