.elementor-13434 .elementor-element.elementor-element-89496f4{--min-height:440px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:stretch;--background-transition:0.3s;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-13434 .elementor-element.elementor-element-89496f4:not(.elementor-motion-effects-element-type-background), .elementor-13434 .elementor-element.elementor-element-89496f4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2022/08/topBarBackground.svg");background-position:top center;background-repeat:no-repeat;}.elementor-13434 .elementor-element.elementor-element-89496f4, .elementor-13434 .elementor-element.elementor-element-89496f4::before{--border-transition:0.3s;}.elementor-13434 .elementor-element.elementor-element-6cb7d3d{--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;--margin-top:140px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;}.elementor-13434 .elementor-element.elementor-element-72bd772{text-align:center;}.elementor-13434 .elementor-element.elementor-element-72bd772 .elementor-heading-title{font-size:var( --e-global-typography-c8fd713-font-size );line-height:var( --e-global-typography-c8fd713-line-height );letter-spacing:var( --e-global-typography-c8fd713-letter-spacing );word-spacing:var( --e-global-typography-c8fd713-word-spacing );}.elementor-13434 .elementor-element.elementor-element-72bd772 > .elementor-widget-container{margin:66px 0px 0px 0px;}.elementor-13434 .elementor-element.elementor-element-9d75030{--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:center;--background-transition:0.3s;--border-radius:10px 10px 10px 10px;box-shadow:0px 8px 24px 0px rgba(0, 0, 0, 0.08);--margin-top:24px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:4px;--padding-right:4px;--padding-bottom:4px;--padding-left:4px;}.elementor-13434 .elementor-element.elementor-element-9d75030:not(.elementor-motion-effects-element-type-background), .elementor-13434 .elementor-element.elementor-element-9d75030 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-99d809d );}.elementor-13434 .elementor-element.elementor-element-9d75030, .elementor-13434 .elementor-element.elementor-element-9d75030::before{--border-transition:0.3s;}.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu .elementor-item{font-family:"Hind", Sans-serif;font-size:16px;font-weight:600;line-height:1.4em;letter-spacing:-0.1px;}.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu--main .elementor-item{color:var( --e-global-color-primary );fill:var( --e-global-color-primary );padding-left:26px;padding-right:26px;padding-top:13px;padding-bottom:13px;}.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu--main .elementor-item:hover,
					.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu--main .elementor-item.elementor-item-active,
					.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu--main .elementor-item.highlighted,
					.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu--main .elementor-item:focus{color:var( --e-global-color-accent );}.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:before,
					.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item:after{background-color:#FB424700;}.elementor-13434 .elementor-element.elementor-element-92f308f .e--pointer-framed .elementor-item:before,
					.elementor-13434 .elementor-element.elementor-element-92f308f .e--pointer-framed .elementor-item:after{border-color:#FB424700;}.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu--main .elementor-item.elementor-item-active{color:var( --e-global-color-99d809d );}.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:before,
					.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu--main:not(.e--pointer-framed) .elementor-item.elementor-item-active:after{background-color:var( --e-global-color-accent );}.elementor-13434 .elementor-element.elementor-element-92f308f .e--pointer-framed .elementor-item.elementor-item-active:before,
					.elementor-13434 .elementor-element.elementor-element-92f308f .e--pointer-framed .elementor-item.elementor-item-active:after{border-color:var( --e-global-color-accent );}.elementor-13434 .elementor-element.elementor-element-92f308f{--e-nav-menu-horizontal-menu-item-margin:calc( 3px / 2 );width:100%;max-width:100%;}.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu--main:not(.elementor-nav-menu--layout-horizontal) .elementor-nav-menu > li:not(:last-child){margin-bottom:3px;}.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-item:before{border-radius:8px;}.elementor-13434 .elementor-element.elementor-element-92f308f .e--animation-shutter-in-horizontal .elementor-item:before{border-radius:8px 8px 0 0;}.elementor-13434 .elementor-element.elementor-element-92f308f .e--animation-shutter-in-horizontal .elementor-item:after{border-radius:0 0 8px 8px;}.elementor-13434 .elementor-element.elementor-element-92f308f .e--animation-shutter-in-vertical .elementor-item:before{border-radius:0 8px 8px 0;}.elementor-13434 .elementor-element.elementor-element-92f308f .e--animation-shutter-in-vertical .elementor-item:after{border-radius:8px 0 0 8px;}.elementor-13434 .elementor-element.elementor-element-a294f19{--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.66 * 100% );}.elementor-13434 .elementor-element.elementor-element-7cbc9b3:after{content:"0.66";}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-post__thumbnail__link{width:100%;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-post__meta-data span + span:before{content:"///";}.elementor-13434 .elementor-element.elementor-element-7cbc9b3{--grid-column-gap:30px;--grid-row-gap:35px;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-post__thumbnail{border-radius:11px 11px 11px 11px;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3.elementor-posts--thumbnail-left .elementor-post__thumbnail__link{margin-right:20px;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3.elementor-posts--thumbnail-right .elementor-post__thumbnail__link{margin-left:20px;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3.elementor-posts--thumbnail-top .elementor-post__thumbnail__link{margin-bottom:20px;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-post__title, .elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-post__title a{color:var( --e-global-color-primary );font-family:"Hind", Sans-serif;font-size:24px;font-weight:700;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-post__title{margin-bottom:10px;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-post__meta-data{color:var( --e-global-color-primary );font-family:"Archivo", Sans-serif;font-size:14px;font-weight:400;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-pagination{text-align:center;font-family:var( --e-global-typography-27480ef-font-family ), Sans-serif;font-size:var( --e-global-typography-27480ef-font-size );font-weight:var( --e-global-typography-27480ef-font-weight );line-height:var( --e-global-typography-27480ef-line-height );letter-spacing:var( --e-global-typography-27480ef-letter-spacing );word-spacing:var( --e-global-typography-27480ef-word-spacing );margin-top:60px;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-pagination .page-numbers:not(.dots){color:var( --e-global-color-primary );}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-pagination .page-numbers.current{color:var( --e-global-color-accent );}body:not(.rtl) .elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-pagination .page-numbers:not(:first-child){margin-left:calc( 0px/2 );}body:not(.rtl) .elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-pagination .page-numbers:not(:last-child){margin-right:calc( 0px/2 );}body.rtl .elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-pagination .page-numbers:not(:first-child){margin-right:calc( 0px/2 );}body.rtl .elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-pagination .page-numbers:not(:last-child){margin-left:calc( 0px/2 );}.elementor-13434 .elementor-element.elementor-element-d4fd0f3{--background-transition:0.3s;}.elementor-13434 .elementor-element.elementor-element-5fdce63{--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;--padding-top:110px;--padding-right:0px;--padding-bottom:110px;--padding-left:0px;}.elementor-13434 .elementor-element.elementor-element-19967ed{--min-height:360px;--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--justify-content:center;--align-items:center;--background-transition:0.3s;--border-radius:24px 24px 24px 24px;}.elementor-13434 .elementor-element.elementor-element-19967ed:not(.elementor-motion-effects-element-type-background), .elementor-13434 .elementor-element.elementor-element-19967ed > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-db5fbe7 );background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2022/08/moreInfoBackground-1-1.png");background-repeat:no-repeat;background-size:cover;}.elementor-13434 .elementor-element.elementor-element-19967ed, .elementor-13434 .elementor-element.elementor-element-19967ed::before{--border-transition:0.3s;}.elementor-13434 .elementor-element.elementor-element-f4b73d6{text-align:center;width:var( --container-widget-width, 800px );max-width:800px;--container-widget-width:800px;--container-widget-flex-grow:0;}.elementor-13434 .elementor-element.elementor-element-f4b73d6 .elementor-heading-title{color:var( --e-global-color-99d809d );}.elementor-13434 .elementor-element.elementor-element-6408e31 > .elementor-widget-container{margin:32px 0px 0px 0px;}@media(max-width:1024px){.elementor-13434 .elementor-element.elementor-element-89496f4{--min-height:330px;}.elementor-13434 .elementor-element.elementor-element-72bd772 .elementor-heading-title{font-size:var( --e-global-typography-c8fd713-font-size );line-height:var( --e-global-typography-c8fd713-line-height );letter-spacing:var( --e-global-typography-c8fd713-letter-spacing );word-spacing:var( --e-global-typography-c8fd713-word-spacing );}.elementor-13434 .elementor-element.elementor-element-9d75030{--flex-wrap:nowrap;}.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu--main .elementor-item{padding-left:20px;padding-right:20px;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-pagination{font-size:var( --e-global-typography-27480ef-font-size );line-height:var( --e-global-typography-27480ef-line-height );letter-spacing:var( --e-global-typography-27480ef-letter-spacing );word-spacing:var( --e-global-typography-27480ef-word-spacing );}.elementor-13434 .elementor-element.elementor-element-f4b73d6{width:initial;max-width:initial;}}@media(max-width:767px){.elementor-13434 .elementor-element.elementor-element-89496f4{--min-height:190px;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;}.elementor-13434 .elementor-element.elementor-element-89496f4:not(.elementor-motion-effects-element-type-background), .elementor-13434 .elementor-element.elementor-element-89496f4 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2022/08/topBarBackgroundM.svg");background-size:cover;}.elementor-13434 .elementor-element.elementor-element-6cb7d3d{--flex-direction:column-reverse;--container-widget-width:100%;--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--margin-top:88px;--margin-right:0px;--margin-bottom:24px;--margin-left:0px;}.elementor-13434 .elementor-element.elementor-element-72bd772 .elementor-heading-title{font-size:var( --e-global-typography-c8fd713-font-size );line-height:var( --e-global-typography-c8fd713-line-height );letter-spacing:var( --e-global-typography-c8fd713-letter-spacing );word-spacing:var( --e-global-typography-c8fd713-word-spacing );}.elementor-13434 .elementor-element.elementor-element-9d75030{--margin-top:12px;--margin-right:0px;--margin-bottom:32px;--margin-left:0px;}.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu--main .elementor-item{padding-left:13px;padding-right:13px;padding-top:10px;padding-bottom:10px;}.elementor-13434 .elementor-element.elementor-element-a294f19{--margin-top:16px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-posts-container .elementor-post__thumbnail{padding-bottom:calc( 0.5 * 100% );}.elementor-13434 .elementor-element.elementor-element-7cbc9b3:after{content:"0.5";}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-post__thumbnail__link{width:100%;}.elementor-13434 .elementor-element.elementor-element-7cbc9b3 .elementor-pagination{font-size:var( --e-global-typography-27480ef-font-size );line-height:var( --e-global-typography-27480ef-line-height );letter-spacing:var( --e-global-typography-27480ef-letter-spacing );word-spacing:var( --e-global-typography-27480ef-word-spacing );}.elementor-13434 .elementor-element.elementor-element-5fdce63{--padding-top:64px;--padding-right:0px;--padding-bottom:64px;--padding-left:0px;}.elementor-13434 .elementor-element.elementor-element-19967ed{--min-height:320px;--border-radius:12px 12px 12px 12px;}.elementor-13434 .elementor-element.elementor-element-19967ed:not(.elementor-motion-effects-element-type-background), .elementor-13434 .elementor-element.elementor-element-19967ed > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2022/08/moreInfoBackgroundM-1.png");}.elementor-13434 .elementor-element.elementor-element-f4b73d6{width:initial;max-width:initial;}}@media(min-width:768px){.elementor-13434 .elementor-element.elementor-element-89496f4{--width:100%;}.elementor-13434 .elementor-element.elementor-element-9d75030{--width:845px;}.elementor-13434 .elementor-element.elementor-element-5fdce63{--width:100%;}.elementor-13434 .elementor-element.elementor-element-19967ed{--width:1200px;}}@media(max-width:1024px) and (min-width:768px){.elementor-13434 .elementor-element.elementor-element-9d75030{--width:768px;}}/* Start custom CSS for nav-menu, class: .elementor-element-92f308f */.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu {
    flex-wrap: nowrap;
 
}

@media (max-width: 780px) {
.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu::-webkit-scrollbar {
  display: none;
}
.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-nav-menu {
    overflow-x: scroll;
    scrollbar-width: none;
}
.elementor-13434 .elementor-element.elementor-element-92f308f .elementor-widget-container:after {
    content: "";
    display: block;
    width: 40px;
    height: 100%;
    background: #fff url("data:image/svg+xml,%3Csvg aria-hidden='true'  xmlns='http://www.w3.org/2000/svg' viewBox='0 0 512 512' class='fa-2x'%3E%3Cpath d='M256 8c137 0 248 111 248 248S393 504 256 504 8 393 8 256 119 8 256 8zm113.9 231L234.4 103.5c-9.4-9.4-24.6-9.4-33.9 0l-17 17c-9.4 9.4-9.4 24.6 0 33.9L285.1 256 183.5 357.6c-9.4 9.4-9.4 24.6 0 33.9l17 17c9.4 9.4 24.6 9.4 33.9 0L369.9 273c9.4-9.4 9.4-24.6 0-34z' fill='%23808080'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 16px;
    position: absolute;
    right: 0;
    z-index: 9;
}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-9d75030 */.elementor-13434 .elementor-element.elementor-element-9d75030 {
    max-width: 100%
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-89496f4 */.elementor-13434 .elementor-element.elementor-element-89496f4 {
    padding-left: 0;
    padding-right: 0;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-5fdce63 */@media (max-width: 767px) {
.elementor-13434 .elementor-element.elementor-element-5fdce63.e-container {
    padding-left: 16px;
    padding-right: 16px
} 
}/* End custom CSS */
/* Start custom CSS *//* || Post Grid Style */


body.elementor-page-13434 .elementor-posts-container {
    max-width: 1328px;
    margin: 0 auto;
    padding: 0 64px
}

body.elementor-page-13434 .elementor-pagination {
    border-top: 1px solid #EAE8EA;
    padding-top: 60px
}

body.elementor-page-13434 .elementor-pagination .page-numbers {
    display: inline-block;
    width: 48px;
    line-height: 48px;
    border-radius: 50%;
}

body.elementor-page-13434 .elementor-pagination .page-numbers.current, 
body.elementor-page-13434 .elementor-pagination .page-numbers:hover {
    border: 1px solid #EAE8EA;
}

@media (max-width: 1024px) {
    body.elementor-page-13434 .elementor-posts-container {
    padding: 0 40px
}
}

@media (max-width: 767px) {
    body.elementor-page-13434 .elementor-posts-container {
    padding: 0 20px
}
}


/* || Featured Post Style */

body.elementor-page-13434[class*='paged-'] .featured-post {
    display: none;
}

body.elementor-page-13434 .featured-post .elementor-post-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 60px;
}


@media (min-width: 768px) {
    
body.elementor-page-13434 .featured-post .elementor-post__card {
    flex-direction: row
}

body.elementor-page-13434 .featured-post .elementor-post__thumbnail__link, 
body.elementor-page-13434 .featured-post .elementor-post-content {
    flex: 0 0 50%;
    margin: 0;
}

body.elementor-page-13434 .featured-post .elementor-post__text {
    flex-grow: 0;
}

body.elementor-page-13434 .featured-post .elementor-post__meta-data {
    margin-top: 0 !important;
    margin-bottom: 8px
}

body.elementor-page-13434 .featured-post .elementor-post__read-more {
    background-color: var( --e-global-color-accent );
    padding: 17px 40px;
    border-radius: 10px;
    margin-top: 24px
}
 body.elementor-page-13434 .featured-post .elementor-post__title a:after {
    width: 16px;
    height: 20px;
    margin-left: 20px;
} 
}

@media (max-width: 1024px) {
body.elementor-page-13434 .featured-post .elementor-post-content {
    padding-left: 40px;
}
}

@media (max-width: 767px) {

body.elementor-page-13434 .featured-post .elementor-post-content {
    padding-left: 0;
    justify-content: flex-start;
}
body.elementor-page-13434 .featured-post .elementor-post__read-more {
    display: none;
}
}


/* || Post Loop Style */


body.elementor-page-13434 .elementor-post__thumbnail__link {
    margin-bottom: 30px
}

body.elementor-page-13434 .elementor-post__thumbnail {
    border-radius: 12px;
}

body.elementor-page-13434 .elementor-post__badge {
    position: static;
    padding: 0;
}

body.elementor-page-13434 .elementor-post__badge::before {
    content: "—  ";
    white-space: pre;
}

body.elementor-page-13434 .elementor-post__badge:hover {
    text-decoration: underline
}

body.elementor-page-13434 .elementor-post__text {
   order: 2; 
   display: flex;
}

body.elementor-page-13434 .elementor-post__title {
    order: 2;
}

body.elementor-page-13434 .elementor-post__meta-data {
    order: 1;
    padding: 0 !important
}

body.elementor-page-13434 .elementor-post-date {
    display: flex;
    align-items: center
}

body.elementor-page-13434 .elementor-post-date:before {
    content: "";
    display: inline-block;
    width: 12px;
    height: 13px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='12' height='13' fill='none'%3E%3Cpath d='M6 3v3.5h3.5' stroke='%232F3A5F' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M6 12A5.5 5.5 0 1 0 6 1a5.5 5.5 0 0 0 0 11z' stroke='%232F3A5F' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E"); 
    margin-right: 6px;
}

body.elementor-page-13434 .elementor-post__title a:hover {
    text-decoration: underline;
}

body.elementor-page-13434 .elementor-post__title a:after {
    content: "";
    display: inline-block;
    width: 14px;
    height: 10px;
    background-image: url("data:image/svg+xml, %3Csvg xmlns='http://www.w3.org/2000/svg' width='14' height='10' fill='none'%3E%3Cpath d='M1 5h12M9 1l4 4-4 4' stroke='%23FB4247' stroke-width='1.5' stroke-miterlimit='10' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-left: 8px
}

@media (max-width: 768px) {
body.elementor-page-13434 .elementor-grid {
    --grid-row-gap: 40px; 
}
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2023/02/hind-v16-latin-regular.eot');
	src: url('../../2023/02/hind-v16-latin-regular.eot#iefix') format('embedded-opentype'),
		url('../../2023/02/hind-v16-latin-regular.woff2') format('woff2'),
		url('../../2023/02/hind-v16-latin-regular.woff') format('woff');
}
@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2023/02/hind-v16-latin-600.eot');
	src: url('../../2023/02/hind-v16-latin-600.eot#iefix') format('embedded-opentype'),
		url('../../2023/02/hind-v16-latin-600.woff2') format('woff2'),
		url('../../2023/02/hind-v16-latin-600.woff') format('woff');
}
@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2023/02/hind-v16-latin-700.eot');
	src: url('../../2023/02/hind-v16-latin-700.eot#iefix') format('embedded-opentype'),
		url('../../2023/02/hind-v16-latin-700.woff2') format('woff2'),
		url('../../2023/02/hind-v16-latin-700.woff') format('woff');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Archivo';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2023/02/archivo-v18-latin-regular.eot');
	src: url('../../2023/02/archivo-v18-latin-regular.eot#iefix') format('embedded-opentype'),
		url('../../2023/02/archivo-v18-latin-regular.woff2') format('woff2'),
		url('../../2023/02/archivo-v18-latin-regular.woff') format('woff');
}
@font-face {
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2023/02/archivo-v18-latin-700.eot');
	src: url('../../2023/02/archivo-v18-latin-700.eot#iefix') format('embedded-opentype'),
		url('../../2023/02/archivo-v18-latin-700.woff2') format('woff2'),
		url('../../2023/02/archivo-v18-latin-700.woff') format('woff');
}
/* End Custom Fonts CSS */