.elementor-621 .elementor-element.elementor-element-d52e8b1{--min-height:400px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--align-items:stretch;--background-transition:0.3s;}.elementor-621 .elementor-element.elementor-element-d52e8b1:not(.elementor-motion-effects-element-type-background), .elementor-621 .elementor-element.elementor-element-d52e8b1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2022/08/topBarBackground.svg");background-position:top center;background-repeat:no-repeat;}.elementor-621 .elementor-element.elementor-element-d52e8b1, .elementor-621 .elementor-element.elementor-element-d52e8b1::before{--border-transition:0.3s;}.elementor-621 .elementor-element.elementor-element-a1d0407{--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;--margin-top:140px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;}.elementor-621 .elementor-element.elementor-element-200a24a{text-align:center;}.elementor-621 .elementor-element.elementor-element-200a24a .elementor-heading-title{font-size:var( --e-global-typography-c8fd713-font-size );line-height:var( --e-global-typography-c8fd713-line-height );letter-spacing:var( --e-global-typography-c8fd713-letter-spacing );word-spacing:var( --e-global-typography-c8fd713-word-spacing );}.elementor-621 .elementor-element.elementor-element-200a24a > .elementor-widget-container{margin:0px 0px 20px 0px;}.elementor-621 .elementor-element.elementor-element-6dd0b7d{text-align:center;font-family:"Hind", Sans-serif;font-size:20px;font-weight:400;line-height:1.7em;width:var( --container-widget-width, 800px );max-width:800px;--container-widget-width:800px;--container-widget-flex-grow:0;}.elementor-621 .elementor-element.elementor-element-1984bc8{--flex-direction:column;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:initial;--container-widget-flex-grow:0;--container-widget-align-self:initial;--align-items:center;--gap:0px;--overflow:hidden;--background-transition:0.3s;--margin-top:0px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:80px;--padding-left:0px;}.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-title, .elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-title:before, .elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-title:after, .elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-content, .elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tabs-content-wrapper{border-width:0px;}.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-title.elementor-active,
					 .elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-title.elementor-active a{color:var( --e-global-color-61948c5 );}.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-title{font-family:"Archivo", Sans-serif;font-size:16px;font-weight:700;line-height:22px;}.elementor-621 .elementor-element.elementor-element-a4df9a7{width:100%;max-width:100%;}.elementor-621 .elementor-element.elementor-element-12937c6{--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;--padding-top:110px;--padding-right:0px;--padding-bottom:110px;--padding-left:0px;}.elementor-621 .elementor-element.elementor-element-4ccea21{--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--background-transition:0.3s;--padding-top:0px;--padding-right:0px;--padding-bottom:110px;--padding-left:0px;}.elementor-621 .elementor-element.elementor-element-982e343{--min-height:416px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--align-items:center;--gap:0px;--flex-wrap:wrap;--align-content:center;--background-transition:0.3s;--border-radius:24px 24px 24px 24px;}.elementor-621 .elementor-element.elementor-element-982e343:not(.elementor-motion-effects-element-type-background), .elementor-621 .elementor-element.elementor-element-982e343 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-db5fbe7 );background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2022/08/moreInfoBackground-1-1.png");background-repeat:no-repeat;background-size:cover;}.elementor-621 .elementor-element.elementor-element-982e343, .elementor-621 .elementor-element.elementor-element-982e343::before{--border-transition:0.3s;}.elementor-621 .elementor-element.elementor-element-134c938{text-align:center;width:100%;max-width:100%;}.elementor-621 .elementor-element.elementor-element-134c938 .elementor-heading-title{color:var( --e-global-color-99d809d );}.elementor-621 .elementor-element.elementor-element-4a88e38 > .elementor-widget-container{margin:32px 4px 0px 0px;}.elementor-621 .elementor-element.elementor-element-a192d1f > .elementor-widget-container{margin:32px 0px 0px 4px;}@media(max-width:1024px){.elementor-621 .elementor-element.elementor-element-6dd0b7d{font-size:18px;width:100%;max-width:100%;}.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-title{font-size:16px;}.elementor-621 .elementor-element.elementor-element-4ccea21{--padding-top:0px;--padding-right:40px;--padding-bottom:100px;--padding-left:40px;}.elementor-621 .elementor-element.elementor-element-134c938{width:100%;max-width:100%;}}@media(min-width:768px){.elementor-621 .elementor-element.elementor-element-d52e8b1{--width:100%;}.elementor-621 .elementor-element.elementor-element-12937c6{--width:100%;}.elementor-621 .elementor-element.elementor-element-4ccea21{--width:100%;}.elementor-621 .elementor-element.elementor-element-982e343{--width:1200px;}}@media(max-width:767px){.elementor-621 .elementor-element.elementor-element-d52e8b1{--min-height:320px;}.elementor-621 .elementor-element.elementor-element-d52e8b1:not(.elementor-motion-effects-element-type-background), .elementor-621 .elementor-element.elementor-element-d52e8b1 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2022/08/topBarBackgroundM.svg");background-size:cover;}.elementor-621 .elementor-element.elementor-element-a1d0407{--margin-top:120px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;}.elementor-621 .elementor-element.elementor-element-6dd0b7d{font-size:16px;line-height:1.5em;}.elementor-621 .elementor-element.elementor-element-1984bc8{--content-width:100%;--align-items:center;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--padding-top:0px;--padding-right:24px;--padding-bottom:80px;--padding-left:24px;}.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-title{font-size:14px;}.elementor-621 .elementor-element.elementor-element-12937c6{--padding-top:64px;--padding-right:0px;--padding-bottom:64px;--padding-left:0px;}.elementor-621 .elementor-element.elementor-element-4ccea21{--padding-top:64px;--padding-right:0px;--padding-bottom:64px;--padding-left:0px;}.elementor-621 .elementor-element.elementor-element-982e343{--min-height:390px;--border-radius:12px 12px 12px 12px;}.elementor-621 .elementor-element.elementor-element-982e343:not(.elementor-motion-effects-element-type-background), .elementor-621 .elementor-element.elementor-element-982e343 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2022/08/moreInfoBackgroundM-1.png");}.elementor-621 .elementor-element.elementor-element-134c938{width:initial;max-width:initial;}}/* Start custom CSS for tabs, class: .elementor-element-a4df9a7 */.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-title:hover {
    color: var( --e-global-color-61948c5 );
}

.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-desktop-title {
        display: flex;
    align-items: center;
    flex: 0 1 calc(100% / 4);
    width: calc(100% / 4);
    margin: 5px 0px 5px 0px;
}
.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tabs-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    max-width: 715px;
    margin: 0 auto 99px;
    border-radius: 20px;
    background: linear-gradient(90deg, #E9E7E8, #FAFAFA);
}

.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tabs-wrapper svg {
    margin-right: 14px;
}

.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tabs .elementor-tab-content {
    padding: 0;
}
@media (min-width: 768px) and (max-width: 1024px) {
.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-desktop-title {
    margin: 10px 0px;
    padding: 15px 0px 15px 15px;
}
.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tabs-wrapper {
    margin: 0 auto 54px;
}
}

@media (max-width: 767px) {
.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tabs-wrapper {
    flex-direction: column;
}

.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-desktop-title {
    display: flex;
    align-items: center;
    flex: 0 1 calc(100% / 4);
    width: calc(100% / 1);
    margin: 5px 0px 5px 0px;
}
.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tabs-wrapper {
    margin: 0 auto 54px;
}

}

.elementor-tab-mobile-title {
    display: none;
}

.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tab-title:focus-visible {
    border: 2px solid black !important;
}

.elementor-621 .elementor-element.elementor-element-a4df9a7 .elementor-tabs-wrapper .elementor-tab-desktop-title:nth-child(1) {
    display: none !important;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-1984bc8 */.elementor-621 .elementor-element.elementor-element-1984bc8 div.top-title {
    margin-bottom: -28px;
    font-family: 'Archivo';
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    color: #1AC3DA;
}

@media (min-width: 768px) {
    
.features-box svg path {
    stroke: #7D7D85;
}
.elementor-621 .elementor-element.elementor-element-1984bc8 .elementor-icon {
    background: linear-gradient(180.63deg, #FAFAFA 0.35%, #E9E7E8 99.27%);
    border-radius: 16px;
    padding: 22px;
}

.features-box {
border-radius: 16px;
transition: all 0.3s ease-in-out;
}

.features-box .elementor-icon {
transition: all 0.3s ease-in-out;
}

.features-box:hover svg path {
    stroke: #FFF;
}

.features-box:hover .elementor-icon {
background: #1AC3DA !important;
}

.features-box:hover {
    box-shadow: 0px 8px 20px 0px rgba(0,0,0,0.1);
border-radius: 16px;
transition: all 0.3s ease-in-out;
}

}

@media (max-width: 767px) {
    .features-box svg path {
    stroke: #7D7D85;
}
.elementor-621 .elementor-element.elementor-element-1984bc8 .elementor-icon {
    background: linear-gradient(180.63deg, #FAFAFA 0.35%, #E9E7E8 99.27%);
    border-radius: 16px;
    padding: 12px;
}
.elementor-621 .elementor-element.elementor-element-1984bc8 div.top-title {
    margin-bottom: -35px;
}


.elementor-621 .elementor-element.elementor-element-1984bc8 div.top-title {
    margin-bottom: -24px;
}

}

.exclusive {
        color: var( --e-global-color-accent );
    font-family: "Archivo", Sans-serif;
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-12937c6 */@media (max-width: 767px) {
.elementor-621 .elementor-element.elementor-element-12937c6.e-container {
    padding-left: 16px;
    padding-right: 16px
} 
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-4ccea21 */@media (max-width: 767px) {
.elementor-621 .elementor-element.elementor-element-4ccea21.e-container {
    padding-left: 16px;
    padding-right: 16px
} 
}/* End custom CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2023/02/hind-v16-latin-regular.eot');
	src: url('../../2023/02/hind-v16-latin-regular.eot#iefix') format('embedded-opentype'),
		url('../../2023/02/hind-v16-latin-regular.woff2') format('woff2'),
		url('../../2023/02/hind-v16-latin-regular.woff') format('woff');
}
@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 600;
	font-display: auto;
	src: url('../../2023/02/hind-v16-latin-600.eot');
	src: url('../../2023/02/hind-v16-latin-600.eot#iefix') format('embedded-opentype'),
		url('../../2023/02/hind-v16-latin-600.woff2') format('woff2'),
		url('../../2023/02/hind-v16-latin-600.woff') format('woff');
}
@font-face {
	font-family: 'Hind';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2023/02/hind-v16-latin-700.eot');
	src: url('../../2023/02/hind-v16-latin-700.eot#iefix') format('embedded-opentype'),
		url('../../2023/02/hind-v16-latin-700.woff2') format('woff2'),
		url('../../2023/02/hind-v16-latin-700.woff') format('woff');
}
/* End Custom Fonts CSS */
/* Start Custom Fonts CSS */@font-face {
	font-family: 'Archivo';
	font-style: normal;
	font-weight: normal;
	font-display: auto;
	src: url('../../2023/02/archivo-v18-latin-regular.eot');
	src: url('../../2023/02/archivo-v18-latin-regular.eot#iefix') format('embedded-opentype'),
		url('../../2023/02/archivo-v18-latin-regular.woff2') format('woff2'),
		url('../../2023/02/archivo-v18-latin-regular.woff') format('woff');
}
@font-face {
	font-family: 'Archivo';
	font-style: normal;
	font-weight: 700;
	font-display: auto;
	src: url('../../2023/02/archivo-v18-latin-700.eot');
	src: url('../../2023/02/archivo-v18-latin-700.eot#iefix') format('embedded-opentype'),
		url('../../2023/02/archivo-v18-latin-700.woff2') format('woff2'),
		url('../../2023/02/archivo-v18-latin-700.woff') format('woff');
}
/* End Custom Fonts CSS */