.elementor-8816 .elementor-element.elementor-element-175ad3e{--min-height:414px;--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:center;--align-items:stretch;--background-transition:0.3s;}.elementor-8816 .elementor-element.elementor-element-175ad3e:not(.elementor-motion-effects-element-type-background), .elementor-8816 .elementor-element.elementor-element-175ad3e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:#202742;background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2022/08/customBg-2.svg");background-position:top center;background-repeat:no-repeat;background-size:cover;}.elementor-8816 .elementor-element.elementor-element-175ad3e, .elementor-8816 .elementor-element.elementor-element-175ad3e::before{--border-transition:0.3s;}.elementor-8816 .elementor-element.elementor-element-ee3a432{--flex-direction:row;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--justify-content:space-between;--align-items:flex-start;--background-transition:0.3s;--margin-top:210px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:64px;--padding-left:0px;}.elementor-8816 .elementor-element.elementor-element-69f9c32 .elementor-heading-title{color:var( --e-global-color-99d809d );font-size:var( --e-global-typography-c8fd713-font-size );line-height:var( --e-global-typography-c8fd713-line-height );letter-spacing:var( --e-global-typography-c8fd713-letter-spacing );word-spacing:var( --e-global-typography-c8fd713-word-spacing );}.elementor-8816 .elementor-element.elementor-element-69f9c32 > .elementor-widget-container{margin:8px 0px 8px 0px;padding:0% 50% 0% 0%;}.elementor-8816 .elementor-element.elementor-element-69f9c32{width:100%;max-width:100%;}.elementor-8816 .elementor-element.elementor-element-ff7cd86 img{width:430px;}.elementor-8816 .elementor-element.elementor-element-ff7cd86{width:var( --container-widget-width, 50% );max-width:50%;--container-widget-width:50%;--container-widget-flex-grow:0;bottom:54px;z-index:1;}body:not(.rtl) .elementor-8816 .elementor-element.elementor-element-ff7cd86{right:0px;}body.rtl .elementor-8816 .elementor-element.elementor-element-ff7cd86{left:0px;}.elementor-8816 .elementor-element.elementor-element-0cf6edf{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--background-transition:0.3s;}.elementor-8816 .elementor-element.elementor-element-0cf6edf:not(.elementor-motion-effects-element-type-background), .elementor-8816 .elementor-element.elementor-element-0cf6edf > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2021/06/landingPageBg.png");background-position:120% 100px;background-repeat:no-repeat;}.elementor-8816 .elementor-element.elementor-element-0cf6edf, .elementor-8816 .elementor-element.elementor-element-0cf6edf::before{--border-transition:0.3s;}.elementor-8816 .elementor-element.elementor-element-230cd26{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;--flex-wrap:wrap;--background-transition:0.3s;}.elementor-8816 .elementor-element.elementor-element-1620394{--background-transition:0.3s;--margin-top:60px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:30px;--padding-bottom:0px;--padding-left:0px;}.elementor-8816 .elementor-element.elementor-element-659225b .elementor-heading-title{font-size:40px;line-height:1.3em;}.elementor-8816 .elementor-element.elementor-element-659225b > .elementor-widget-container{margin:0px 0px 8px 0px;}.elementor-8816 .elementor-element.elementor-element-32ab93a{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;}.elementor-8816 .elementor-element.elementor-element-924d3f5:not(.elementor-motion-effects-element-type-background), .elementor-8816 .elementor-element.elementor-element-924d3f5 > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-color:var( --e-global-color-99d809d );}.elementor-8816 .elementor-element.elementor-element-924d3f5{--background-transition:0.3s;--border-radius:10px 10px 10px 10px;box-shadow:1px 0px 40px 0px rgba(0, 0, 0, 0.1);--margin-top:-100px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:40px;--padding-right:60px;--padding-bottom:40px;--padding-left:60px;--z-index:2;}.elementor-8816 .elementor-element.elementor-element-924d3f5, .elementor-8816 .elementor-element.elementor-element-924d3f5::before{--border-transition:0.3s;}.elementor-8816 .elementor-element.elementor-element-924d3f5.e-con{--align-self:flex-start;}.elementor-8816 .elementor-element.elementor-element-7cdbab7{text-align:center;}.elementor-8816 .elementor-element.elementor-element-7cdbab7 .elementor-heading-title{color:var( --e-global-color-text );font-family:var( --e-global-typography-text-font-family ), Sans-serif;font-size:var( --e-global-typography-text-font-size );font-weight:var( --e-global-typography-text-font-weight );line-height:var( --e-global-typography-text-line-height );}.elementor-8816 .elementor-element.elementor-element-c366de3{--background-transition:0.3s;--margin-top:60px;--margin-right:0px;--margin-bottom:60px;--margin-left:0px;}@media(max-width:1024px){.elementor-8816 .elementor-element.elementor-element-69f9c32 .elementor-heading-title{font-size:var( --e-global-typography-c8fd713-font-size );line-height:var( --e-global-typography-c8fd713-line-height );letter-spacing:var( --e-global-typography-c8fd713-letter-spacing );word-spacing:var( --e-global-typography-c8fd713-word-spacing );}.elementor-8816 .elementor-element.elementor-element-ff7cd86 img{width:320px;}.elementor-8816 .elementor-element.elementor-element-0cf6edf:not(.elementor-motion-effects-element-type-background), .elementor-8816 .elementor-element.elementor-element-0cf6edf > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0% 0px;}.elementor-8816 .elementor-element.elementor-element-659225b .elementor-heading-title{font-size:32px;}.elementor-8816 .elementor-element.elementor-element-924d3f5{--padding-top:32px;--padding-right:48px;--padding-bottom:32px;--padding-left:48px;}.elementor-8816 .elementor-element.elementor-element-7cdbab7 .elementor-heading-title{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}}@media(min-width:768px){.elementor-8816 .elementor-element.elementor-element-175ad3e{--width:100%;}.elementor-8816 .elementor-element.elementor-element-ee3a432{--width:1200px;}.elementor-8816 .elementor-element.elementor-element-230cd26{--content-width:1200px;}.elementor-8816 .elementor-element.elementor-element-1620394{--width:50%;}.elementor-8816 .elementor-element.elementor-element-924d3f5{--width:50%;}.elementor-8816 .elementor-element.elementor-element-c366de3{--content-width:100%;}}@media(max-width:767px){.elementor-8816 .elementor-element.elementor-element-175ad3e{--min-height:420px;}.elementor-8816 .elementor-element.elementor-element-175ad3e:not(.elementor-motion-effects-element-type-background), .elementor-8816 .elementor-element.elementor-element-175ad3e > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-image:var(--e-bg-lazyload-loaded);--e-bg-lazyload:url("../../2021/06/customBgMobile.svg");background-size:cover;}.elementor-8816 .elementor-element.elementor-element-ee3a432{--align-items:flex-end;--container-widget-width:calc( ( 1 - var( --container-widget-flex-grow ) ) * 100% );--margin-top:120px;--margin-right:0px;--margin-bottom:0px;--margin-left:0px;--padding-top:0px;--padding-right:0px;--padding-bottom:120px;--padding-left:0px;}.elementor-8816 .elementor-element.elementor-element-69f9c32 .elementor-heading-title{font-size:var( --e-global-typography-c8fd713-font-size );line-height:var( --e-global-typography-c8fd713-line-height );letter-spacing:var( --e-global-typography-c8fd713-letter-spacing );word-spacing:var( --e-global-typography-c8fd713-word-spacing );}.elementor-8816 .elementor-element.elementor-element-69f9c32 > .elementor-widget-container{padding:0% 0% 0% 0%;}.elementor-8816 .elementor-element.elementor-element-69f9c32{width:var( --container-widget-width, 90% );max-width:90%;--container-widget-width:90%;--container-widget-flex-grow:0;z-index:2;}.elementor-8816 .elementor-element.elementor-element-ff7cd86{text-align:right;width:100%;max-width:100%;}.elementor-8816 .elementor-element.elementor-element-0cf6edf:not(.elementor-motion-effects-element-type-background), .elementor-8816 .elementor-element.elementor-element-0cf6edf > .elementor-motion-effects-container > .elementor-motion-effects-layer{background-position:0% 0px;}.elementor-8816 .elementor-element.elementor-element-1620394{--padding-top:0px;--padding-right:0px;--padding-bottom:0px;--padding-left:0px;}.elementor-8816 .elementor-element.elementor-element-1620394.e-con{--order:2;}.elementor-8816 .elementor-element.elementor-element-659225b .elementor-heading-title{font-size:22px;}.elementor-8816 .elementor-element.elementor-element-32ab93a{width:100%;max-width:100%;}.elementor-8816 .elementor-element.elementor-element-924d3f5{--padding-top:20px;--padding-right:20px;--padding-bottom:20px;--padding-left:20px;}.elementor-8816 .elementor-element.elementor-element-924d3f5.e-con{--order:1;}.elementor-8816 .elementor-element.elementor-element-7cdbab7 .elementor-heading-title{font-size:var( --e-global-typography-text-font-size );line-height:var( --e-global-typography-text-line-height );}.elementor-8816 .elementor-element.elementor-element-c366de3{--flex-direction:row;--container-widget-width:initial;--container-widget-height:100%;--container-widget-flex-grow:1;--container-widget-align-self:stretch;}.elementor-8816 .elementor-element.elementor-element-c366de3.e-con{--order:3;}}/* Start custom CSS for image, class: .elementor-element-ff7cd86 */@media (max-width: 767px) {
.elementor-8816 .elementor-element.elementor-element-ff7cd86 {
    opacity: 0.2
}
}/* End custom CSS */
/* Start custom CSS for html, class: .elementor-element-a2c7317 */.elementor-8816 .elementor-element.elementor-element-a2c7317 label {
    display: block;
    font-size: 16px;
    font-weight: 500;
    color: #000;
    margin-bottom: 10px;
    text-align: left;
}

.elementor-8816 .elementor-element.elementor-element-a2c7317 input {
    font-family: 'Archivo', sans-serif;
    -webkit-appearance: none;
    margin-bottom: 16px;
    background: #fff;
    padding: 16px 24px;
    border: 1px solid #DBD6D8;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    width: 100% !important;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.elementor-8816 .elementor-element.elementor-element-a2c7317 input[type=submit] {
    padding: 17px 44px;
    margin-top: 10px;
    border-radius: 10px;
    border: none;
    font-size: 18px;
    font-weight: bold;
    line-height: 22px;
    cursor: pointer;
    min-width: 30px;
    white-space: nowrap;
    background-color: #FB4247;
    color: #fff;
}

.elementor-8816 .elementor-element.elementor-element-a2c7317 input[type=submit]:hover {
    background-color: #fa292f;
}

.elementor-8816 .elementor-element.elementor-element-a2c7317 textarea {
    font-family: 'Archivo', sans-serif;
    -webkit-appearance: none;
    margin-bottom: 16px;
    background: #fff;
    padding: 16px 24px;
    border: 1px solid #DBD6D8;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    width: 100% !important;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01em;
}

.elementor-8816 .elementor-element.elementor-element-a2c7317 select {
    font-family: 'Archivo', sans-serif;
    margin-bottom: 16px;
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg width='8' height='5' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M1.562.931l2.75 3 2.75-3' stroke='%23000' stroke-width='1.5' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center right 24px;
    background-size: 10px;
    padding: 16px 24px;
    border: 1px solid #DBD6D8;
    box-sizing: border-box;
    border-radius: 10px;
    outline: none;
    width: 100% !important;
    color: #000;
    font-weight: 500;
    font-size: 16px;
    line-height: 22px;
    letter-spacing: -0.01em;
    cursor: pointer;
}


@media (max-width: 768px) {
.elementor-8816 .elementor-element.elementor-element-a2c7317 input {
    min-width: 100px;
    padding: 12px 20px;
    font-size: 14px;
    margin-bottom: 10px;
}
.elementor-8816 .elementor-element.elementor-element-a2c7317 textarea {
    min-width: 100px;
    padding: 12px 20px;
    font-size: 14px;
    margin-bottom: 10px;
}
.elementor-8816 .elementor-element.elementor-element-a2c7317 select {
     padding: 12px 20px;
    font-size: 14px;  
    margin-bottom: 10px;
}
.elementor-8816 .elementor-element.elementor-element-a2c7317 input[type=submit] {
    padding: 13px 30px;
    font-size: 14px;
}
}/* End custom CSS */
/* Start custom CSS for container, class: .elementor-element-0cf6edf */@media (max-width: 768px) {
    .elementor-8816 .elementor-element.elementor-element-0cf6edf {
        background-image: none !important;
    }
}/* End custom CSS */