<section>
  <div
    class="flex flex-col w-full justify-center gap-4 items-start divider-gray-700"
  >
    <h1 transition:name="page-header" id="archive-header" class="text-7xl font-black">Get Your Posts</h1>
    <p class="px-2 text-start text-lg">
      Your daily dose of awesome headless wordpress news.
    </p>
    <form id="content-search" class="w-full">
      <input
        autocomplete="none"
        placeholder="Search for a post"
        class="border-2 max-w-xs border-gray-100 w-full px-2 py-2 text-sm bg-gray-50 ring-gray-800 focus:ring-gray-500 duration-1000 rounded-xl"
        type="text"
        name="search"
        id="search"
      />
    </form>
  </div>
</section>
